.home {
  background: linear-gradient(to top, #312d50, var(--accent-color));
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
}

.hero-image {
  width: 80%;
  height: auto;
  clip-path: circle(90% at 50% 10%);
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.2));
  transition: clip-path 0.3s ease;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--secondary-text-color);
  }
}

.typewriter {
  display: inline-block;
  font-size: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--secondary-text-color);
  width: 0;
  animation: typing 3.5s steps(40, end) forwards,
    blink-caret 0.75s step-end infinite;
}

.btn-primary {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.hire-me-container .plant {
  position: absolute;
  opacity: 0;
  transform: rotate(30deg);
  width: 50px;
  height: 50px;
  margin-left: 80px;
  margin-bottom: 50px;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.hire-me-container:hover .plant {
  opacity: 1;
  transform: rotate(30deg) translateY(-5px);
  margin-left: 100px;
  margin-bottom: 60px;
}
